@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 18px;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  border-radius: 18px;
}
@keyframes spin-slower {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slower {
  animation: spin-slower 25s linear infinite;
}
@keyframes spin-slower {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slower {
  animation: spin-slower 20s linear infinite;
}
